<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>
  <h2>
    This is the home page for the
    <a href="https://plangrade.com/">plangrade</a>
    ruby client example application.
  </h2>
  <%= link_to "Hit plangrade", @client.auth_code.authorize_url(:redirect_uri => redirect_url), class: "btn btn-md" %>
</div>