<footer class="footer">
  <small>
    The <a href="https://plangrade.com/">plangrade</a> ruby client app
    by <a href="http://github.com/topherreynoso">Topher Reynoso</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",   '#' %></li>
    </ul>
  </nav>
</footer>